.movie-list {
  display: flex;
  overflow: scroll;
  overflow-y: hidden;
  padding: 0 2rem;
}

.movie-list-top {
  margin-top: 3rem;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.movie-li {
  width: 300px;
  height: 150px;
  padding: 0.25rem;
  cursor: pointer;
}

.movie-li:hover {
  scale: 1.1;
  transition: ease-in 0.3s;
}

.movie-li-top {
  height: 250px;
  width: 175px;
  padding: 0.25rem;
  cursor: pointer;
}

.movie-li-top:hover {
  scale: 1.1;
  transition: ease-in 0.3s;
}

img {
  width: 100%;
  object-fit: cover;
  position: center;
}

/* width */
::-webkit-scrollbar {
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
