.movie-detail {
  display: flex;
  gap: 2rem;
  padding: 2rem;
}

.description {
  color: white;
  width: 50%;
}

.title {
  padding: 0;
  margin-bottom: 1rem;
}

.info {
  font-weight: bold;
  margin: 1rem 0;
  font-size: 1.05rem;
}

.backdrop,
.trailer {
  width: 50%;
  height: 36rem;
  display: block;
  border: none;
}
