.container {
  margin-top: 1rem;
  padding: 0 2rem;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 1rem;
}

.img {
  height: 350px;
}

.img:hover {
  cursor: pointer;
  scale: 1.05;
}
